 body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }

        header {
            width: 100%;
            height: 100vh;
            margin: 0;
            padding: 0;
        }

        .headerbanner {
            position: relative;
            width: 100%;
            height: 100vh;
        }

        .cover {
            width: 100%;
            height: 100vh;

            filter: brightness(65%) blur(4px);
        }

        .headertext {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center; 
            color: white;
            font-size: 300px;
        }

        .header-text .logo {
            width: 300px;
            height: auto;
            /* margin-bottom: -100px; */
            border-radius: 8px;
        }

        nav {
            background-color: #555;
            padding: 20px 0;
           position:sticky;
           top: 0;
           z-index: 100;
        }
        nav ul {
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 107px;
            margin: 0;
            padding: 0;
            font-size: 20px;
            
        }
        nav ul li a {
            color: white;
            text-decoration: none;
            padding: 8px 16px;
            border-radius: 4px;
            transition: 0.3s;
        }
        nav ul li a:hover {
            background-color: #777;
        }

        section {
            padding: 32px;
            margin: 20px auto;
            max-width: 1200px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        section h2 {
            text-align: center;
            margin-bottom: 25px;
        }

        .category {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 20px;
        }

        .item {
            background: #fafafa;
            padding: 16px;
            border: 1px solid #ddd;
            border-radius: 6px;
            text-align: center;
            transition: transform 0.2s;  
        }

        .item:hover {
            transform: scale(1.05);
        }

        .item img {
            width: 100%;
            height: 260px;
            object-fit: cover;
            border-radius: 4px;
        }

        footer {
            text-align: center;
            padding: 20px;
            background-color: #333;
            color: white;
            margin-top: 40px;
        }
        
        .btn {
            display: inline-block;
            padding: 7px 45px;
            font-size: 18px;
            letter-spacing: 0.5px;
            font-weight: 500;
            color: #333;
            background: #ffffff;
            border: 1.5px solid #d0d0d0;
            border-radius: 6px;
            text-decoration: none;
            transition: all 0.25s ease;
}

        .btn:hover {
            background: #908f8e4b;
            border-color: #b5b5b5;
            color: #111111;
            transform: translateY(-2px);
}
